<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>

<title>Update student</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:replace = "fragments/fragment :: header" ></div>
	<h1 class="page-header">Edit Student</h1>

	<form action="/student/update/submit" method="post"  th:object="${student}">
		<div>
			<input type="text" name="npm" readonly="true" th:value="${student.npm}" th:field="*{npm}"/> 
		</div>
		<div>
			<input type="text" name="name" th:value="${student.name}" th:field="*{name}" />
		</div>
		<div>
			<input type="text" name="gpa" th:value="${student.gpa}" th:field="*{gpa}"/>
		</div>

		<div>
			<button type="submit" name="action" value="save" class="btn btn-primary">Update</button>
		</div>
	</form>
	<div th:replace="fragments/fragment :: footer"></div>
</body>

</html>

